*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-image: url(../assets/fondo.jpg);
    background-size: 100%;
}

.paginas ul{
    display: flex;
    width: 100%;
    height: 5rem;
    flex-direction: row;
    background-color: blueviolet;
    justify-content: space-between;
}

.paginas button{
    width: 20rem;
    height: 5rem;
    align-items: center;
    background-color: black;
    
}

.paginas a{
    color: aliceblue;
    font-size: 2rem;
    text-decoration: none;
}

.paginas a:hover{
    text-decoration: underline;
}

a:hover{
    color: blueviolet;
}

.hero main {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 30% 20% 40% 10%;
    grid-template-areas: 
    "titulo titulo ."
    ". subtitulo subtitulo"
    "imagen1 imagen2 imagen3"
    "imagen1 imagen2 imagen3";
}

main h1{
    display: grid;
    grid-area: titulo;
    font-size: 8rem;
    justify-content: center;
    color: aliceblue;
}

main h2{
    display: grid;
    grid-area: subtitulo;
    font-size: 6rem;
    justify-content: center;
    color: lightgreen;
}


main .imagen-portada1 {
    display: grid;
    grid-area: imagen1;
    height: 20rem;
    justify-content: center;
}

.imagen-portada1 img{
    height: 18rem;
    border-radius: 15%;
}

main .imagen-portada2 {
    display: grid;
    grid-area: imagen2;
    height: 20rem;
    justify-content: center;
}

.imagen-portada2 img{
    height: 18rem;
    border-radius: 15%;
}

main .imagen-portada3 {
    display: grid;
    grid-area: imagen3;
    height: 20rem;
    justify-content: center;
}

.imagen-portada3 img{
    height: 18rem;
    border-radius: 15%;
}

.imagen-portada1 a{
    position: relative;
    line-height:normal;
    display:table-caption;
    margin:0;
    padding:5px;
    text-align: center;
    text-decoration: none;
    color: aliceblue;
    font-size: 2rem;
}

.imagen-portada2 a{
    position: relative;
    line-height:normal;
    display:table-caption;
    margin:0;
    padding:5px;
    text-align: center;
    text-decoration: none;
    color: aliceblue;
    font-size: 2rem;
}

.imagen-portada3 a{
    position: relative;
    line-height:normal;
    display:table-caption;
    margin:0;
    padding:5px;
    text-align: center;
    text-decoration: none;
    color: aliceblue;
    font-size: 2rem;
}

footer {
    display: flex;
    background-color: lightgreen;
    position: absolute;
    bottom:0;
    height: auto;
    left:0;
    width:100%;
    justify-content: space-between;
}
footer a{
    text-decoration: none;
    color: black;
}
