* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-image: url(../assets/fondo.jpg);
  background-size: 100%;
}

.header {
  background: rgb(138, 44, 226);
  height: 80px;
  width: 100%;
}
.header ul {
  float: right;
  margin-right: 20px;
}
.header ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
.header ul li a {
  color: #fff;
  font-size: 2rem;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
.header ul li a.active, .header ul li a:hover {
  background: black;
  transition: 0.5s;
}

.portada {
  display: grid;
  width: 100%;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 30% 20% 40% 10%;
  grid-template-areas: "titulo titulo ." ". subtitulo subtitulo" "imagen1 imagen2 imagen3" "imagen1 imagen2 imagen3";
}
.portada h1 {
  display: grid;
  grid-area: titulo;
  font-size: 8rem;
  justify-content: center;
  color: aliceblue;
}
.portada img {
  height: 20rem;
  border-radius: 15%;
}
.portada h2 {
  display: grid;
  grid-area: subtitulo;
  font-size: 6rem;
  justify-content: center;
  color: lightgreen;
}
.portada .imagen-portada1 {
  display: grid;
  grid-area: imagen1;
  height: 20rem;
  justify-content: center;
}
.portada .imagen-portada1 a {
  position: relative;
  line-height: normal;
  display: table-caption;
  margin: 0;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  color: aliceblue;
  font-size: 2rem;
}
.portada .imagen-portada2 {
  display: grid;
  grid-area: imagen2;
  height: 20rem;
  justify-content: center;
}
.portada .imagen-portada2 a {
  position: relative;
  line-height: normal;
  display: table-caption;
  margin: 0;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  color: aliceblue;
  font-size: 2rem;
}
.portada .imagen-portada3 {
  display: grid;
  grid-area: imagen3;
  height: 20rem;
  justify-content: center;
}
.portada .imagen-portada3 a {
  position: relative;
  line-height: normal;
  display: table-caption;
  margin: 0;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  color: aliceblue;
  font-size: 2rem;
}
.portada a:hover {
  color: rgb(138, 44, 226);
}

.tabla {
  display: grid;
  width: 90%;
  align-items: normal;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 20% 20% 50% 10%;
  grid-template-areas: ". titulo ." "articulos cantidad precio" "info1 info2 info3" ". comprar .";
  margin: 50px 50px;
  background-color: lightpink;
  height: 100vh;
  justify-content: space-between;
}
.tabla .tabla-titulo {
  grid-area: titulo;
  font-size: 4rem;
}
.tabla .tabla-art {
  grid-area: articulos;
  font-size: 3rem;
}
.tabla .tabla-cant {
  grid-area: cantidad;
  font-size: 3rem;
}
.tabla .tabla-pre {
  grid-area: precio;
  font-size: 3rem;
}
.tabla .tabla-articulo {
  grid-area: info1;
  font-size: 2rem;
  padding-left: 20px;
}
.tabla .tabla-cantidad {
  grid-area: info2;
  font-size: 2rem;
  text-align: center;
}
.tabla .tabla-precio {
  grid-area: info3;
  font-size: 2rem;
  text-align: center;
}
.tabla .tabla-comprar {
  grid-area: comprar;
  font-size: 3.5rem;
  padding: 5px;
  background-color: black;
  color: #fff;
}

.underwear-catalogo, .overwear-catalogo {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "titulo-seccion titulo-seccion" "imagen1 imagen2" "imagen3 imagen4" "imagen5 imagen6";
  align-items: center;
}
.underwear-catalogo h2, .overwear-catalogo h2 {
  display: flex;
  grid-area: titulo-seccion;
  font-size: 5rem;
  color: lightgreen;
  position: relative;
  top: 6rem;
  padding: 25px;
}
.underwear-catalogo .primeraimg, .overwear-catalogo .primeraimg {
  display: flex;
  grid-area: imagen1;
  justify-content: center;
  padding: 10%;
}
.underwear-catalogo .segundaimg, .overwear-catalogo .segundaimg {
  display: flex;
  grid-area: imagen2;
  justify-content: center;
  padding: 10%;
}
.underwear-catalogo .tercerimg, .overwear-catalogo .tercerimg {
  display: flex;
  grid-area: imagen3;
  justify-content: center;
  padding: 10%;
}
.underwear-catalogo .cuartaimg, .overwear-catalogo .cuartaimg {
  display: flex;
  grid-area: imagen4;
  justify-content: center;
  padding: 10%;
}
.underwear-catalogo .quintaimg, .overwear-catalogo .quintaimg {
  display: flex;
  grid-area: imagen5;
  justify-content: center;
  padding: 10%;
}
.underwear-catalogo .sextaimg, .overwear-catalogo .sextaimg {
  display: flex;
  grid-area: imagen6;
  justify-content: center;
  padding: 10%;
}
.underwear-catalogo img, .overwear-catalogo img {
  display: flex;
  height: 25rem;
}

.overwear-catalogo h2 {
  display: flex;
  grid-area: titulo-seccion;
  position: relative;
  top: 6rem;
  text-align: center;
  font-size: 5rem;
  color: lightgreen;
}
.overwear-catalogo .primeraimg {
  display: flex;
  grid-area: imagen1;
  justify-content: center;
  padding: 10%;
}
.overwear-catalogo .segundaimg {
  display: flex;
  grid-area: imagen2;
  justify-content: center;
  padding: 10%;
}
.overwear-catalogo .tercerimg {
  display: flex;
  grid-area: imagen3;
  justify-content: center;
  padding: 10%;
}
.overwear-catalogo .cuartaimg {
  display: flex;
  grid-area: imagen4;
  justify-content: center;
  padding: 10%;
}
.overwear-catalogo .quintaimg {
  display: flex;
  grid-area: imagen5;
  justify-content: center;
  padding: 10%;
}
.overwear-catalogo .sextaimg {
  display: flex;
  grid-area: imagen6;
  justify-content: center;
  padding: 10%;
}
.overwear-catalogo img {
  display: flex;
  height: 25rem;
}

.accesorios-catalogo {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto;
  grid-template-areas: "titulo-seccion titulo-seccion" "imagen1 imagen2" "imagen3 imagen4";
  align-items: center;
}
.accesorios-catalogo h2 {
  display: flex;
  grid-area: titulo-seccion;
  position: relative;
  top: 6rem;
  text-align: center;
  font-size: 5rem;
  color: lightgreen;
  padding: 25px;
}
.accesorios-catalogo .primeraimg {
  display: flex;
  grid-area: imagen1;
  justify-content: center;
  padding: 10%;
}
.accesorios-catalogo .segundaimg {
  display: flex;
  grid-area: imagen2;
  justify-content: center;
  padding: 10%;
}
.accesorios-catalogo .tercerimg {
  display: flex;
  grid-area: imagen3;
  justify-content: center;
  padding: 10%;
}
.accesorios-catalogo .cuartaimg {
  display: flex;
  grid-area: imagen4;
  justify-content: center;
  padding: 10%;
}
.accesorios-catalogo img {
  display: flex;
  height: 25rem;
}

.catalogo-links a {
  position: relative;
  line-height: normal;
  display: table-caption;
  margin: 0;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: aliceblue;
  font-size: 4rem;
}
.catalogo-links img {
  height: 25rem;
}

.producto-compra {
  display: grid;
  width: 90%;
  align-items: center;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 25% 50% 25%;
  grid-template-areas: ". producto ." "img-prod info info" "img-prod compra precio";
  margin: 50px 50px;
  background-color: lightpink;
  justify-content: space-between;
}
.producto-compra img {
  grid-area: img-prod;
  display: flex;
  box-sizing: border-box;
  padding: 10px;
  height: 30rem;
}
.producto-compra h1 {
  grid-area: producto;
  font-size: 8rem;
}
.producto-compra p {
  padding: 5%;
  grid-area: info;
  font-size: 2.5rem;
}
.producto-compra a {
  grid-area: compra;
}
.producto-compra button {
  grid-area: precio;
  font-size: 2rem;
  justify-content: center;
  background-color: black;
  color: aliceblue;
  padding: 15px;
}

.nosotros-info {
  background-color: lightpink;
  display: grid;
  width: 90%;
  align-items: center;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 20% 40% 40%;
  grid-template-areas: ". titulo ." "logo info info" "info-fabrica info-fabrica fabrica";
  margin: 50px 50px;
  background-color: lightpink;
  justify-content: space-between;
  gap: 10px;
}
.nosotros-info img {
  grid-area: logo;
  height: 22rem;
}
.nosotros-info p {
  grid-area: info;
  font-size: 2rem;
  text-align: center;
  padding-left: 30px;
}
.nosotros-info h1 {
  grid-area: titulo;
  font-size: 7rem;
  padding-left: 40px;
  padding-top: 30px;
}
.nosotros-info .fabrica {
  grid-area: fabrica;
  height: 16rem;
}
.nosotros-info .fabrica-info {
  grid-area: info-fabrica;
  text-align: center;
}

footer {
  display: flex;
  background-color: lightgreen;
  position: fixed;
  bottom: 0;
  height: auto;
  left: 0;
  width: 100%;
  justify-content: space-between;
}
footer a {
  text-decoration: none;
  color: black;
}

@media (max-width: 1024px) {
  .catalogo-links h1 {
    font-size: 5rem;
    padding-left: 2rem;
  }
  .catalogo-links h2 {
    font-size: 4rem;
    top: 9%;
  }
  .catalogo-links img {
    height: 20rem;
  }
  .producto-compra h1 {
    font-size: 6rem;
  }
  .producto-compra p {
    font-size: 1.8rem;
    padding-left: 60px;
  }
  .producto-compra a {
    padding-left: 60px;
  }
  .producto-compra img {
    padding-bottom: 20px;
    height: 25rem;
  }
  .portada h1 {
    font-size: 6rem;
  }
  .portada h2 {
    font-size: 4rem;
  }
  .portada img {
    height: 15rem;
  }
  .nosotros-info img {
    height: 18rem;
  }
  .nosotros-info .fabrica {
    height: 14rem;
  }
  .nosotros-info p {
    font-size: 1.5rem;
  }
}
@media (max-width: 768px) {
  .header {
    width: 100%;
    justify-content: center;
  }
  .header .header ul li a {
    font-size: 1rem;
    justify-content: center;
  }
  .catalogo-links a {
    font-size: 3rem;
  }
  .catalogo-links h2 {
    font-size: 4rem;
    top: 8%;
  }
  .catalogo-links img {
    height: 18rem;
  }
  .producto-compra h1 {
    font-size: 5rem;
  }
  .producto-compra p {
    font-size: 1.4rem;
    padding-left: 70px;
  }
  .producto-compra a {
    padding-left: 70px;
  }
  .producto-compra img {
    height: 20rem;
    padding-bottom: 20px;
  }
  .producto-compra button {
    font-size: 1.5rem;
    padding: 10px;
  }
  .portada {
    display: flex;
    flex-direction: column;
  }
  .portada h1 {
    text-align: center;
    font-size: 5rem;
  }
  .portada h2 {
    font-size: 3rem;
  }
  .portada img {
    height: 10rem;
  }
  .portada a {
    font-size: 1.5rem;
  }
}
@media (max-width: 425px) {
  .header {
    width: 100%;
    height: 160px;
    background-size: 100%;
    background-color: rgb(138, 44, 226);
    justify-content: center;
  }
  .header ul li a {
    padding: 0;
  }
  .header li a.active, .header li a:hover {
    background: none;
  }
  .catalogo-links a {
    font-size: 2rem;
  }
  .catalogo-links h2 {
    font-size: 3rem;
    top: 7%;
  }
  .catalogo-links h1 {
    font-size: 4rem;
    padding-left: 70px;
  }
  .catalogo-links img {
    height: 15rem;
  }
  .producto-compra {
    background-color: rgb(255, 182, 193);
    width: 100%;
    height: 100vh;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 70px;
    display: grid;
    grid-template-rows: 20% 40% 20% 20%;
    grid-template-columns: 50% 50%;
    grid-template-areas: "titulo titulo" "imagen imagen" "info precio" "info compra";
    justify-items: center;
  }
  .producto-compra h1 {
    grid-area: titulo;
    font-size: 4rem;
    text-align: center;
  }
  .producto-compra p {
    grid-area: info;
    font-size: 1.2rem;
    text-align: left;
  }
  .producto-compra button {
    display: inline;
    grid-area: precio;
    position: relative;
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 5%;
    background-color: black;
    color: aliceblue;
  }
  .producto-compra a button {
    grid-area: compra;
  }
  .producto-compra img {
    grid-area: imagen;
    height: 24rem;
  }
  .portada {
    display: flex;
    flex-direction: column;
  }
  .portada a {
    font-size: 2rem;
  }
}
@media (max-width: 375px) {
  .catalogo-links img {
    height: 12rem;
  }
  .catalogo-links a {
    font-size: 1rem;
  }
  .catalogo-links h2 {
    font-size: 2rem;
    top: 6%;
  }
  .producto-compra h1 {
    font-size: 3.5rem;
  }
  .producto-compra p {
    font-size: 1rem;
  }
  .producto-compra img {
    height: 22rem;
  }
}

/*# sourceMappingURL=style.css.map */
