*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-image: url(../assets/fondo.jpg);
    background-size: 100%;
}
.header{
    background: darkviolet;
    height: 80px;
    width: 100%;
}

.header ul{
    float: right;
    margin-right: 20px;
}
.header ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
.header ul li a{
    color: #fff;
    font-size: 2rem;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
li a.active, li a:hover{
    background: black;
    transition: .5s;
}

header ul{
    display: flex;
    width: 100%;
    height: 5rem;
    flex-direction: row;
    background-color: blueviolet;
    justify-content: space-between;
}

header button{
    width: 20rem;
    height: 5rem;
    align-items: center;
    background-color: black;
    
}

header a{
    color: aliceblue;
    font-size: 2rem;
    text-decoration: none;
}

header a:hover{
    text-decoration: underline;
}

a:hover{
    color: blueviolet;
}

.hero main {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 30% 20% 40% 10%;
    grid-template-areas: 
    "titulo titulo ."
    ". subtitulo subtitulo"
    "imagen1 imagen2 imagen3"
    "imagen1 imagen2 imagen3";
}

main h1{
    display: grid;
    grid-area: titulo;
    font-size: 8rem;
    justify-content: center;
    color: aliceblue;
}

main h2{
    display: grid;
    grid-area: subtitulo;
    font-size: 6rem;
    justify-content: center;
    color: lightgreen;
}


main .imagen-portada1 {
    display: grid;
    grid-area: imagen1;
    height: 20rem;
    justify-content: center;
}

.imagen-portada1 img{
    height: 18rem;
    border-radius: 15%;
}

main .imagen-portada2 {
    display: grid;
    grid-area: imagen2;
    height: 20rem;
    justify-content: center;
}

.imagen-portada2 img{
    height: 18rem;
    border-radius: 15%;
}

main .imagen-portada3 {
    display: grid;
    grid-area: imagen3;
    height: 20rem;
    justify-content: center;
}

.imagen-portada3 img{
    height: 18rem;
    border-radius: 15%;
}

.imagen-portada1 a{
    position: relative;
    line-height:normal;
    display:table-caption;
    margin:0;
    padding:5px;
    text-align: center;
    text-decoration: none;
    color: aliceblue;
    font-size: 2rem;
}

.imagen-portada2 a{
    position: relative;
    line-height:normal;
    display:table-caption;
    margin:0;
    padding:5px;
    text-align: center;
    text-decoration: none;
    color: aliceblue;
    font-size: 2rem;
}

.imagen-portada3 a{
    position: relative;
    line-height:normal;
    display:table-caption;
    margin:0;
    padding:5px;
    text-align: center;
    text-decoration: none;
    color: aliceblue;
    font-size: 2rem;
}

.underwear-catalogo{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows:  auto auto auto auto;
    grid-template-areas:
    "titulo-seccion titulo-seccion"
    "imagen1 imagen2"
    "imagen3 imagen4"
    "imagen5 imagen6";
}

.underwear-catalogo h2{
    display: flex;
    grid-area: titulo-seccion;
    position: relative;
    top: 6rem;
    text-align: center;
    font-size: 5rem;
}

.underwear-catalogo .primeraimg{
display: flex;
grid-area: imagen1;
justify-content: center;
padding: 10%;
}

.underwear-catalogo .segundaimg{
    display: flex;
    grid-area: imagen2;
    justify-content: center;
    padding: 10%;
}

.underwear-catalogo .tercerimg{
    display: flex;
    grid-area: imagen3;
    justify-content: center;
    padding: 10%;
}

.underwear-catalogo .cuartaimg{
    display: flex;
    grid-area: imagen4;
    justify-content: center;
    padding: 10%;
}

.underwear-catalogo .quintaimg{
    display: flex;
    grid-area: imagen5;
    justify-content: center;
    padding: 10%;
}

.underwear-catalogo .sextaimg{
    display: flex;
    grid-area: imagen6;
    justify-content: center;
    padding: 10%;
}
.underwear-catalogo img{
    display: flex;
    height: 25rem;
}

.overwear-catalogo{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows:  auto auto auto auto;
    grid-template-areas:
    "titulo-seccion titulo-seccion"
    "imagen1 imagen2"
    "imagen3 imagen4"
    "imagen5 imagen6";
}

.overwear-catalogo h2{
    display: flex;
    grid-area: titulo-seccion;
    position: relative;
    top: 6rem;
    text-align: center;
    font-size: 5rem;
}

.overwear-catalogo .primeraimg{
display: flex;
grid-area: imagen1;
justify-content: center;
padding: 10%;
}

.overwear-catalogo .segundaimg{
    display: flex;
    grid-area: imagen2;
    justify-content: center;
    padding: 10%;
}

.overwear-catalogo .tercerimg{
    display: flex;
    grid-area: imagen3;
    justify-content: center;
    padding: 10%;
}

.overwear-catalogo .cuartaimg{
    display: flex;
    grid-area: imagen4;
    justify-content: center;
    padding: 10%;
}

.overwear-catalogo .quintaimg{
    display: flex;
    grid-area: imagen5;
    justify-content: center;
    padding: 10%;
}

.overwear-catalogo .sextaimg{
    display: flex;
    grid-area: imagen6;
    justify-content: center;
    padding: 10%;
}
.overwear-catalogo img{
    display: flex;
    height: 25rem;
}


.accesorios-catalogo{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows:  auto auto auto ;
    grid-template-areas:
    "titulo-seccion titulo-seccion"
    "imagen1 imagen2"
    "imagen3 imagen4";
}

.accesorios-catalogo h2{
    display: flex;
    grid-area: titulo-seccion;
    position: relative;
    top: 6rem;
    text-align: center;
    font-size: 5rem;
}

.accesorios-catalogo .primeraimg{
display: flex;
grid-area: imagen1;
justify-content: center;
padding: 10%;
}

.accesorios-catalogo .segundaimg{
    display: flex;
    grid-area: imagen2;
    justify-content: center;
    padding: 10%;
}

.accesorios-catalogo .tercerimg{
    display: flex;
    grid-area: imagen3;
    justify-content: center;
    padding: 10%;
}

.accesorios-catalogo .cuartaimg{
    display: flex;
    grid-area: imagen4;
    justify-content: center;
    padding: 10%;
}

.accesorios-catalogo img{
    display: flex;
    height: 25rem;
}

.catalogo-links a{
    position: relative;
    line-height:normal;
    display:table-caption;
    margin:0;
    padding:10px;
    text-align: center;
    text-decoration: none;
    color: aliceblue;
    font-size: 4rem;
}

.producto-compra {
    display: grid;
    width: 90%;
    align-items: center;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 25% 50% 25%;
    grid-template-areas: 
    ". producto ."
    "img-prod info info"
    "img-prod compra precio";
    margin: 50px 50px;
    background-color: lightpink;
    justify-content: space-between;
}

.producto-compra img{
    grid-area: img-prod;
    display: flex;
    box-sizing: border-box;
    padding: 10px;
    height: 30rem;
}

.producto-compra h1{
    grid-area: producto;
    font-size: 8rem;
}

.producto-compra p{
    padding: 5%;
    grid-area: info;
    font-size: 2.5rem;
}

.producto-compra a{
    grid-area: compra;
}

.producto-compra button{
    grid-area: precio;
    font-size: 2rem;
    justify-content: center;
    background-color: black;
    color: aliceblue;
    padding: 15px;
}

.tabla{
    display: grid;
    width: 90%;
    align-items: normal;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 20% 20% 50% 10%;
    grid-template-areas: 
    ". titulo ."
    "articulos cantidad precio"
    "info1 info2 info3"
    ". comprar .";
    margin: 50px 50px;
    background-color: lightpink;
    height: 100vh;
    justify-content: space-between;
}
.tabla .tabla-titulo{
    grid-area: titulo;
    font-size: 4rem;
}

.tabla .tabla-art{
    grid-area: articulos;
    font-size: 3rem;
}

.tabla .tabla-cant{
    grid-area: cantidad;
    font-size: 3rem;
}

.tabla .tabla-pre{
    grid-area: precio;
    font-size: 3rem;
}

.tabla .tabla-articulo{
    grid-area: info1;
    font-size: 2rem;
    padding-left: 20px;
}

.tabla .tabla-cantidad{
    grid-area: info2;
    font-size: 2rem;
    text-align: center;
}

.tabla .tabla-precio{
    grid-area: info3;
    font-size: 2rem;
    text-align: center;
}

.tabla .tabla-comprar{
    grid-area: comprar;
    font-size: 3.5rem;
    padding: 5px;
    background-color: black;
    color: #fff;
}

footer {
    display: flex;
    background-color: lightgreen;
    position: fixed;
    bottom:0;
    height: auto;
    left:0;
    width:100%;
    justify-content: space-between;
}
footer a{
    text-decoration: none;
    color: black;
}

.nosotros-info{
    background-color: lightpink;
    display: grid;
    width: 90%;
    align-items: center;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 20% 40% 40%;
    grid-template-areas: 
    ". titulo ."
    "logo info info"
    "info-fabrica info-fabrica fabrica";
    margin: 50px 50px;
    background-color: lightpink;
    justify-content: space-between;
}

.nosotros-info img{
    grid-area: logo;
    height: 25rem;
}

.nosotros-info p{
    grid-area: info;
    font-size: 2.5rem;
}

.nosotros-info h1{
    grid-area: titulo;
    font-size: 7rem;
    padding-left: 60px;
    padding-top: 30px;
}

.nosotros-info .fabrica {
    grid-area: fabrica;
    height: 22rem;
}

.nosotros-info .fabrica-info{
    grid-area: info-fabrica;
}


@media (max-width:1024px){
    .catalogo-links h1{
        font-size: 5rem;
        padding-left: 2rem;
    }
    .catalogo-links h2{
        font-size: 4rem;
        top: 9%;
}
.producto-compra h1{
    font-size: 6rem;
}
.producto-compra p{
    font-size: 1.8rem;
    padding-left: 60px;
}
.producto-compra a{
    padding-left: 60px;
}
.producto-compra img{
    padding-bottom: 20px;
    height: 25rem;
}
}

@media (max-width: 768px){
    .header{
        width: 100% ;
        justify-content: center;
    }
    .header ul li a{
        font-size: 1rem;
        justify-content: center;
    }
    .catalogo-links a{
        font-size: 3rem;
    }
    .catalogo-links h2{
        font-size: 4rem;
        top: 8%;
    }
    .producto-compra h1{
        font-size: 5rem;
    }
    .producto-compra p{
        font-size: 1.4rem;
        padding-left: 70px;
    }
    .producto-compra a{
        padding-left: 70px;
    }
    .producto-compra img{
        height: 20rem;
        padding-bottom: 20px;
    }
    .producto-compra button{
        font-size: 1.5rem;
        padding: 10px;
    }
}
@media (max-width: 425px){
    .header{
        width: 100% ;
        height: 60px;
        justify-content: center;
    }
    li a.active, li a:hover{
        background: none;
    }
    .header ul li a{
        padding: 0
    }
    .catalogo-links a{
        font-size: 2rem;
    }
    .catalogo-links h2{
        font-size: 3rem;
        top: 7%;
    }
    .catalogo-links h1{
        font-size: 4rem;
        padding-left: 70px;
    }
    .catalogo-links img{
        height: 15rem;
    }
    .producto-compra{
        background-color: lightpink;
        width: 100%;
        height: 100vh;
        margin: 0;
        margin-top: 30px;
        margin-bottom: 70px;
        display: grid;
        grid-template-rows: 20% 40% 20% 20% ;
        grid-template-columns: 50% 50%;
        grid-template-areas: 
        "titulo titulo"
        "imagen imagen"
        "info precio"
        "info compra";
        justify-items: center;
    }
    .producto-compra h1{
        grid-area: titulo;
        font-size: 4rem;
        text-align: center;
    }
    .producto-compra p{
        grid-area: info;
        font-size: 1.2rem;
        text-align: left;
    }
    
    .producto-compra button{
        display: inline;
        grid-area: precio;
        position: relative;
        font-size: 1.2rem;
        padding: 10px;
        border-radius: 5%;
        background-color: black;
        color: aliceblue;
    }
    .producto-compra a button{
        grid-area: compra;
    }
    .producto-compra img{
        grid-area: imagen;
        height: 24rem;
}
@media (max-width: 375px){
.header{
    width: 100% ;
    height: 60px;
    justify-content: center;
}
.catalogo-links img{
    height: 12rem;
}
.catalogo-links a{
    font-size: 1rem;
}
.catalogo-links h2{
    font-size: 2rem;
    top: 6%;
}
.producto-compra h1{
    font-size: 3.5rem;
}
.producto-compra p{
    font-size: 1rem;
}
.producto-compra img{
    height: 22rem;
}
}
