.nosotros-info{
    background-color: lightpink;
    display: grid;
    width: 90%;
    align-items: center;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 20% 40% 40%;
    grid-template-areas: 
    ". titulo ."
    "logo info info"
    "info-fabrica info-fabrica fabrica";
    margin: 50px 50px;
    background-color: lightpink;
    justify-content: space-between;
    gap: 10px;
    
    img{
    grid-area: logo;
    height: 22rem;
}

p{
    grid-area: info;
    font-size: 2rem;
    text-align: center;
    padding-left: 30px;
    padding-right: 25px;
}

h1{
    grid-area: titulo;
    font-size: 7rem;
    padding-left: 40px;
    padding-top: 30px;
}

.fabrica {
    grid-area: fabrica;
    height: 16rem;
}

.fabrica-info{
    grid-area: info-fabrica;
    text-align: center;
}}