@media (max-width: 425px){
    .header{
        width: 100% ;
        height: 160px;
        background-size: 100%;
        background-color: $color-principal;
        ul li a{
            padding: 0;
        }
    }
    .catalogo-links{
        a{
            font-size: 1rem;
        }
    h2{
        font-size: 3rem;
        top: 7%;
    }
    h1{
        font-size: 4rem;
        padding-left: 70px;
    }
    img{
        height: 15rem;
    }

}
        .producto-compra{
        background-color: $color-secundario;
        width: 100%;
        height: 100vh;
        margin: 0;
        margin-top: 30px;
        margin-bottom: 70px;
        display: grid;
        grid-template-rows: 20% 40% 20% 20% ;
        grid-template-columns: 50% 50%;
        grid-template-areas: 
        "titulo titulo"
        "imagen imagen"
        "info precio"
        "info compra";
        justify-items: center;
    
    h1{
        grid-area: titulo;
        font-size: 4rem;
        text-align: center;
    }
    p{
        grid-area: info;
        font-size: 1.2rem;
        text-align: left;
    }
    
    button{
        display: inline;
        grid-area: precio;
        position: relative;
        font-size: 1.2rem;
        padding: 10px;
        border-radius: 5%;
        background-color: black;
        color: aliceblue;
    }
    a button{
        grid-area: compra;
    }
    img{
        grid-area: imagen;
        height: 24rem;
}}
.portada{
    a{font-size: 2rem;}
}
.nosotros-info{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    margin-bottom: 55px;
    margin-top: 10px;
    padding-right: 10px;
    img{height: 10rem;
    padding: 10px;}
    p{
        font-size: 1.5rem;
    }
    .fabrica{height: 10rem;
    padding: 10px;}

    h1{font-size: 4rem;
    padding-right: 25px;}
    }
    .tabla{width: 100%;
        margin: 0;
        margin-bottom: 50px;
        .tabla-titulo{
            font-size: 2.5rem;
        }
        .tabla-pre , .tabla-cant , .tabla-art{
            font-size: 1.3rem;
            padding: 5px;
        }
        .tabla-comprar{
            font-size: 2rem;
            padding: 5px;
        }
        .tabla-articulo , .tabla-cantidad , .tabla-precio{
            font-size: 1.5rem;
        }
    }
}