@media (max-width: 375px){
    .catalogo-links{ img{
        height: 12rem;
    }
    a{
        font-size: 1rem;
    }
    h2{
        font-size: 2rem;
        top: 6%;
    }}
    .producto-compra{ h1{
        font-size: 3.5rem;
    }
    p{
        font-size: 1rem;
    }
    img{
        height: 22rem;
    }
    }}