@media (max-width:1024px){
    .catalogo-links{ h1{
        font-size: 5rem;
        padding-left: 2rem;
    }
    h2{
        font-size: 4rem;
        top: 9%;
}
img{
    height: 20rem;
}
}
.producto-compra { h1{
    font-size: 6rem;
}
p{
    font-size: 1.8rem;
    padding-left: 60px;
}
a{
    padding-left: 60px;
}
img{
    padding-bottom: 20px;
    height: 25rem;
}
}
.portada{
    h1{
        font-size: 6rem;
    }
    h2{
        font-size: 4rem;
    }
    img{
        height: 15rem;
    }
}
}